* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #3b0349;
}

.section-profile-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: rgb(0 0 0 / 60%);
 
}

.nav {
}
